name: Integration Test

on: [push, pull_request]

jobs:
  build:
    name: "Run Integration Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Run integration tests
        run: |
          ./examples/01_simple/test_cli.sh
