name: Type Check

on: [push, pull_request]

jobs:
  build:
    name: "Type Check Code Base"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: |
          uv sync

      - name: "Type Check with Pyright"
        run: |
          uv run pyright src
